/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.create--button--holder{
    margin: 2rem 1rem;
}

.create--button,
.create--button:active{
    padding: 5px;
    border: 2px solid blue;
    border-radius: 5px;
    color: blue;
}
.create--button:hover{
    text-decoration: none;
    background: blue;
    border: none;
    color: white;
}

.task-card {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 10px;

}

.task-card--header {
    z-index: 1;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    
}

.task-card--header.todo{
    background: rgb(238,149,3);
    background: linear-gradient(90deg, rgba(238,149,3,1) 0%, rgba(246,199,121,1) 1%, rgba(233,233,233,1) 100%);
}

.task-card--header.doing {
    background: rgb(84,105,235);
    background: linear-gradient(90deg, rgba(84,105,235,1) 0%, rgba(108,123,218,1) 1%, rgba(233,233,233,1) 100%);
}

.task-card--header.done {
    background: rgb(127,240,92);
    background: linear-gradient(90deg, rgba(127,240,92,1) 0%, rgba(162,238,138,1) 1%, rgba(233,233,233,1) 100%);
}


.task-card--header h3{
    margin: 10px;
}

.task-card--name{
    font-size: 1.2rem;
}

.task-card--state{
    font-size: 1.2rem;
}

.task-card--header .details--button{
    margin-left: auto;
    margin-right: 10px;
    border: none;
    color: gray;
    background: none;
}
.task-card--header .details--button:focus{
    outline-width: 1px;
    outline-color: gray;
}

    .task-card--header .delete--button {
        border: none;
        border-radius: 8px;
        color: white;
        background: rgb(208,19,19);
        padding: 5px;
        margin: 5px 10px;
    }

.task-card--header .start-finish--button {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px;
    background: rgb(26,83,226);
    margin: 5px 10px 5px 0;
}

.task-card--header .edit--button {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px;
    margin: 5px 10px;
    background: rgb(232,196,28);
}

.task-card--header .edit--button:hover{
    text-decoration:none;
}

.task-card--start-finish {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}


.task-card--total-hours{
    display:flex;
    flex-direction:column;
    margin: 5px;
    margin-left: 10px;
}

.task-card--start-finish label{
    font-size: .8rem;
}

.task-card--details {
    width: 100%;
    margin: auto;
    padding: 30px 0;
    border: solid 2px gray;
    border-radius: 15px;
    border-top: none;
    transform: translateY(-15%);
    z-index: 0;
}


.task-card--details.todo {
    border-bottom-color: rgba(238,149,3,.4);
    border-left-color: rgba(238,149,3,.5);
    border-right-color: rgba(238,149,3,.2);
}

.task-card--details.doing {
    border-bottom-color: rgba(108,123,218,.4);
    border-left-color: rgba(108,123,218,.5);
    border-right-color: rgba(108,123,218,.2);
}

.task-card--details.done {
    border-bottom-color: rgba(162,238,138,.5);
    border-left-color: rgba(162,238,138,.6);
    border-right-color: rgba(162,238,138,.3);
}

.hidden{
    display: none;
}

.task-card--details span,
.task-card--details p {
    margin: 10px;
}

.page--title{
    font-size: 2rem;
    text-align: center;
}

.form--container{
    margin:auto;
    min-width: 400px;
    width: 60%;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;
}

.create--button--confirm{
    margin: 1.5rem 0 1rem;
}